.loginAsContainer{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap:50px;
    justify-content: center;
    align-items: center;
    height: 88vh;
}
.loginAsContainer > div:nth-child(2) > div > img{
    width: 200px;
    height: 200px;
    transition: 0.7s;
}
.loginAsContainer > div:nth-child(2) > div > img:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);
    padding: 1px;
    cursor: pointer;
}
.loginAsContainer .icon{
    display: flex;
    flex-direction: row;
    gap:30px;
    width: auto;
}
.loginAsContainer .text{
    font-size: 18px;
    padding-bottom: 20px;
}