.container{
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.container > div:nth-child(1){
    flex: 1;
    border: 1px solid gray;
    height: 86vh;
    display: flex;
    flex-direction: column;
    gap:5px;
   
    
}
.container > div:nth-child(2){
    flex: 6;
    border: 1px solid gray;
    height: 86vh;
    text-align: left;
    
}
.link{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    padding-left: 10px;
    background-color: rgb(171, 62, 62);
    gap:10px;
    text-decoration: none;

}
.link_text{
    color: white;
   
}